/target/
/.settings/
.project
.idea
/.idea/
*.iml
*.classpath
*/.classpath
weixin-backend/.settings/
weixin-backend/target
weixin-common/.settings/
weixin-common/target/
weixin-frontend/.settings/
weixin-frontend/target/
weixin-persist/.settings
weixin-persist/target/

weixin-web-common/target
weixin-web-common/.settings/
model/target/
