<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcgo.weixin.persist.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.fcgo.weixin.persist.model.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_phone" jdbcType="CHAR" property="brandPhone" />
    <result column="buyer_id" jdbcType="INTEGER" property="buyerId" />
    <result column="buyer_phone" jdbcType="VARCHAR" property="buyerPhone" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="pay_status" jdbcType="CHAR" property="payStatus" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="pay_type" jdbcType="SMALLINT" property="payType" />
    <result column="deliver_type" jdbcType="INTEGER" property="deliverType"/>
    <result column="pay_time" jdbcType="INTEGER" property="payTime" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_time" jdbcType="INTEGER" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `code`, brand_id, brand_phone, buyer_id, buyer_phone, status, pay_status, amount,
    pay_type, deliver_type, pay_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByOrderCode" parameterType="com.fcgo.weixin.persist.model.Order" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
    where `code` = #{code,jdbcType=VARCHAR}
    <if test="brandId != null">
      and brand_id = #{brandId,jdbcType=INTEGER}
    </if>
  </select>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fcgo.weixin.persist.model.Order" useGeneratedKeys="true">
    insert into order (code, brand_id, brand_phone, 
      buyer_id, buyer_phone, status, 
      pay_status, amount, pay_type, 
      pay_time, create_time, update_time
      )
    values (#{code,jdbcType=VARCHAR}, #{brandId,jdbcType=INTEGER}, #{brandPhone,jdbcType=CHAR},
      #{buyerId,jdbcType=INTEGER}, #{buyerPhone,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{payStatus,jdbcType=CHAR}, #{amount,jdbcType=DOUBLE}, #{payType,jdbcType=SMALLINT}, 
      #{payTime,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fcgo.weixin.persist.model.Order" useGeneratedKeys="true">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="brandPhone != null">
        brand_phone,
      </if>
      <if test="buyerId != null">
        buyer_id,
      </if>
      <if test="buyerPhone != null">
        buyer_phone,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="payType != null">
        pay_type,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brandPhone != null">
        #{brandPhone,jdbcType=CHAR},
      </if>
      <if test="buyerId != null">
        #{buyerId,jdbcType=INTEGER},
      </if>
      <if test="buyerPhone != null">
        #{buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=CHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=SMALLINT},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateOrderStatusByOrderCode" parameterType="com.fcgo.weixin.persist.model.Order">
    update `order`
    <set>
        `status` = #{status,jdbcType=CHAR},
        update_time = #{updateTime,jdbcType=INTEGER}
    </set>
    where `code` = #{code,jdbcType=VARCHAR}
    and `status` = #{exceptStatus,jdbcType=CHAR}
  </update>


  <update id="updateByOrderCode" parameterType="com.fcgo.weixin.persist.model.Order">
    update `order`
    <set>

      <if test="buyerPhone != null">
        buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=CHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="deliverType != null">
        deliver_type = #{deliverType,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=INTEGER},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>



  <select id="selectCnt" resultType="int">
    select count(*) from `order` where 1=1 <include refid="where_select_all" />
  </select>

  <sql id="where_select_all">
    <if test="dto.orderCode !=null">
      and `code` = #{dto.orderCode,jdbcType=VARCHAR}
    </if>
    <if test="dto.brandId !=null">
      and brand_id = #{dto.brandId,jdbcType=INTEGER}
    </if>
    <if test="dto.buyerPhone !=null">
      and buyer_phone = #{dto.buyerPhone,jdbcType=VARCHAR}
    </if>
    <if test="dto.status !=null">
      and status = #{dto.status,jdbcType=CHAR}
    </if>
    <if test="dto.payStatus !=null">
      and pay_status = #{dto.payStatus,jdbcType=CHAR}
    </if>
    <if test="dto.startTime !=null and dto.endTime !=null">
      and (
      create_time <![CDATA[ >= ]]> #{dto.startTime,jdbcType=INTEGER} and create_time <![CDATA[ < ]]> #{dto.endTime,jdbcType=INTEGER}
      or update_time <![CDATA[ >= ]]> #{dto.startTime,jdbcType=INTEGER} and update_time <![CDATA[ < ]]> #{dto.endTime,jdbcType=INTEGER}
      )
    </if>
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from `order` where 1=1 <include refid="where_select_all"/>
    order by create_time desc
    limit #{offset}, #{limit}
  </select>

</mapper>