<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcgo.weixin.persist.dao.OrderProductMapper">
  <resultMap id="BaseResultMap" type="com.fcgo.weixin.persist.model.OrderProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_code" jdbcType="VARCHAR" property="orderCode" />
    <result column="product_type_id" jdbcType="INTEGER" property="productTypeId" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_price" jdbcType="DOUBLE" property="productPrice" />
    <result column="number" jdbcType="INTEGER" property="productNumber" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, order_code, product_type_id, product_type, product_id, product_name, 
    product_price, `number`, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_product
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByOrderCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_product
    where order_code = #{orderCode,jdbcType=VARCHAR}
  </select>


</mapper>