<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fcgo.weixin.persist.dao.IProductGroupDAO" >
  <resultMap id="BaseResultMap2" type="com.fcgo.weixin.persist.po.ProductGroupPO" extends="BaseResultMap" >
    <result column="product_count" property="productCount" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="findByShopIdWithCount" resultMap="BaseResultMap2" parameterType="map" >
    SELECT t.group_name,t.id,COUNT(*) AS product_count FROM pdt_product_group t 
    INNER JOIN `pdt_product` p ON t.id=p.group_id and p.is_delete=0 WHERE t.shop_id=#{shopId}  GROUP BY t.id
    limit #{startPage, jdbcType=DECIMAL},#{pageSize, jdbcType=DECIMAL} 
  </select>
  
</mapper>