body{
	background: #FAFAFA;padding: 0;margin: 0;
	color: #333;
	font-family: helvetica,"microsoft yahei";

}
ul{
	padding: 0;
	margin: 0;
	
}
a{
	color: blue;
	text-decoration: none;
	font-size: 3.3vw;
}
p{
	padding: 0;
	margin: 1vw 0;
}
.titleTable{
	height: 50px;
}
.titleTable td{
	background: #D13600;
	color: #Ffffff;
	padding: 0 3vw;
	font-size: 16px;
}
/*.clear{
	clear: both;
}*/
.content{
	position: relative;
	width: 100%;
	background: #fff;
	margin-top:5vw;
}
.contentItem{
	width:90vw;
	padding:0 5vw;
	position: relative;
	height: 15vw;
	border-bottom: 1px solid #EBECEE;
}
.contentItem div{
	height: 15vw;
	width: 25vw;
	font-size: 4vw;
	line-height: 15vw;
	float: left;
	font-size: 14px;
}
.contentItem input{
	height: 10vw;
	width: 50vw;
	padding-left: 2vw;
	font-size: 14px;
	line-height: 10vw;
	float: left;
	outline: 0;
	border:0;
	padding: 0;
	margin: 0;
	margin-top:2.5vw;
}
.contentItemIntro{
	width:90vw;
	padding: 0 5vw;
	position: relative;
	height: 40vw;
	border-bottom: 1px solid #EBECEE;
}
.contentItemIntro div{
	height: 15vw;
	width: 25vw;
	font-size: 14px;
	line-height: 15vw;
	float: left;
	position: relative;
}
.jianjieText{
	width: 90vw;
	height:20vw;
	font-size: 12px;
	border:1px solid #EBECEE;
	outline: none;
}
.contentItemImg{
	width:90vw;
	position: relative;
	padding:0 5vw;
	height: 15vw;
	border-bottom: 1px solid #EBECEE;
}
.contentItemImg2{
	width:90vw;
	position: relative;
	padding:0 5vw;
	height: 15vw;
	border-bottom: 1px solid #EBECEE;
}
#file{
	width: 100%;
	height: 15vw;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 5;
}
#file2{
	width: 100%;
	height: 15vw;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	z-index: 5;
}
.contentItemImg div{
	height: 15vw;
	width: 25vw;
	font-size: 14px;
	line-height: 15vw;
	float: left;
}
.contentItemImg2 div{
	height: 15vw;
	width: 25vw;
	font-size: 14px;
	line-height: 15vw;
	float: left;
}
.imgdiv{
	width: 13vw;
	height: 13vw;
	position: absolute;
	top: 1vw;
	right:5vw;
}
.imgdiv img{
	width: 13vw;
	height: 13vw;
	position: absolute;
	right: 0;
}
.imgdiv2{
	width: 13vw;
	height: 13vw;
	position: absolute;
	top: 1vw;
	right:5vw;
}
.imgdiv2 img{
	width: 13vw;
	height: 13vw;
	position: absolute;
	right: 0;
}

.createShop{
	width: 90vw;
	height: 35px;
	background: #D13600;
	color: #fff;
	border-radius: 3px;
	margin-top: 5vw;
	border:1px solid #D13600;
	outline: none;
	margin-left: 4vw;
	font-size: 14px;
}
