body{
	background: #FAFAFA;padding: 0;margin: 0;
	color: #333;
	font-family: helvetica,"microsoft yahei";
}
.clear{
	clear: both;
}
.head{
	height:50px;
	background: #D13600;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}
.title{
	line-height: 50px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}
.return{
	position: absolute;
	height: 40px;
	top: 6px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
}
.returnImg{
	position: relative;
    top: 5px;
    display: inline-block;
    margin-left: 3px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(/resources/images/returnWhite.png);
    background-size: 24px 24px;
}
.oneGoods{
	width: 100%;
	position: relative;
}
.goodsImgDiv{
	width: 22vw;
	float: left;
	height: 28vw;
}
.goodsImg{
	width: 22vw;
	height: 22vw;
	display: block;
	border-radius: 3px;
	margin-top: 3vw;
}
.goodsInfo{
	margin-left: 3vw;
	width: 60vw;
	height: 28vw;
	float: left;
	position: relative;
	border-bottom: 1px solid #EBECEE;
}
.goodsName{
	margin-top: 3vw;
	width: 100%;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	font-size: 4vw;
}
.goodsInfoFloor{
	position: absolute;
	left: 0;
	bottom:3vw;
	font-size: 3.5vw;
}
.price{
	color: #D13600;
}

.checkGoods{
	width: 15vw;
	float: left;
	height:28vw;
	position: relative;
}
.checkboxDiv{
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-radius: 50%;
	outline: none;
	position:absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.opaction{
	-webkit-appearance: none;
	position: relative;
	width: 20px;
	height: 20px;
	background:#fff;
	border: none;
	display: inline-block;
	outline: none;
	z-index: 10000;
	border: 1px solid #D13600;
	border-radius: 50%;
}
.opaction:checked{
	background:#D13600;
}
.opaction:checked::before{
	opacity: 1;
	content: '';
	position: absolute;
	width: 8px;
	height: 5px;
	top: 4px;
	left: 4px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform:rotate(-45deg);
}

.footerFixed{
	width: 100%;
	background: #fff;
	height: 15vw;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	border-top: 1px solid #eeeeee;
}
.footerFixedLeft{
	width: 10%;
	position: relative;
	float: left;
	height: 15vw;
}
.footerFixedLeft label{
	position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    float: left;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    z-index: 99;
    outline: none;
}
.text{
	height: 15vw;
	line-height: 15vw;
	width: 40px;
	float: left;
	font-size:4vw;
	position: relative;
	text-align: center;
}

.delete{
	height: 9vw;
	line-height: 9vw;
	font-size: 14px;
	background: #D13600;
	position: relative;
	top: 3vw;
	text-align: center;
	color: #fff;
	float: left;
	margin-left: 4vw;
	border-radius: 5px;
	padding:0 5vw;
}
.checkboxAll{
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border-radius: 50%;
	outline: none;
	float: left;
	margin-top: calc(7.5vw - 10px);
	margin-left: 5vw;
}

.blankState{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: #FAFAFA;
	z-index: 100;
}
.blankImgDiv{
	width: 80vw;
	margin-left: 10vw;
	margin-top: 40vw;
}
.blankImg{
	width: 100%;
	display: block;
}
.blankText{
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin-top: 5vw;
	color: #B0B9C2;
}
.blankBtnDiv{
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 8vw;
	text-align: center;
}
.blankBtn{
	outline: none;
	border: none;
	font-size: 16px;
	border-radius: 20px;
	padding: 0 30px;
	color: #FFFFFF;
	background: #D13600;
	height: 40px;
}