body{
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: helvetica,"microsoft yahei";

}
.titleTable{
	width: 100%;
	height: 50px;
}
.titleTable td{
	background:#D13600;
	padding:0 2vw;
	color: #fff;
	font-size: 16px;
}

.setNewPsd{
	width:100%;
	height: 60px;
	text-align: center;
	line-height: 20vw;
	font-size:16px;
	
}

.setNewPsdphone{
	width: 90vw;
	height: 15vw;
	padding:0 5vw;
	background: #fff;
	font-size:14px;
	border-bottom: 1px solid #f5f5f5;
}
.setNewPsdphone div{
	width: 20vw;
	text-align: left;
	padding-left: 2vw;
	float: left;
	line-height: 15vw;
}
.setNewPsdphone .setNewPsdphoneNum{
	width: 65vw;
	float: left;
	height: 15vw;
	border: 0;
	outline: 0;
	padding: 0;
	font-size: 14px;
	margin-left: 2vw;
}
.setNewPsdCode{
	width: 90vw;
	padding:0 5vw;
	height: 15vw;
	background: #fff;
	font-size:14px;
	border-bottom: 1px solid #f5f5f5;
}
.setNewPsdCode div{
	width: 20vw;
	text-align: left;
	padding-left: 2vw;
	float: left;
	line-height: 15vw;
}
.setNewPsdCode .CodeNum{
	width: 30vw;
	float: left;
	height: 15vw;
	border: 0;
	outline: 0;
	padding: 0;
	margin-left: 2vw;
}
.setNewPsdCode .getCode{
	width: 25vw;
	text-align: center;
	float: right;
	margin-right:2vw;
	line-height: 8vw;
	margin-top:3.5vw;
	height: 8vw;
	border: 0;
	outline: 0;
	padding: 0;
	border:1px solid #D13600;
	background: #fff;
	color:#D13600;
	font-size: 14px;
	border-radius: 3px;
	
}
.registeruser .setNewPsdphone{
	width: 60vw;
	float: left;
	height: 15vw;
	border: 0;
	outline: 0;
	padding: 0;
	margin-left: 2vw;
	
}
.setPsd{
	width: 90vw;
	padding: 0 5vw;
	height: 15vw;
	background: #fff;
	font-size:14px;
}
.setPsd div{
	width: 20vw;
	text-align: left;
	padding-left: 2vw;
	float: left;
	line-height: 15vw;
}
.setPsd .setNewPsdNum{
	width: 60vw;
	float: left;
	height: 12vw;
	border: 0;
	outline: 0;
	padding: 0;
	margin-left: 2vw;
	font-size: 14px;
	line-height: 12vw;
	margin-top:1.5vw;
}
.setNewPsdBTN{
	width: 90vw;
	height: 35px;
	margin-left: 5vw;
	border:1px solid #D13600;
	outline: 0;
	background: #D13600;
	color:#fff;
	font-size: 14px;
	border-radius:3px;
	margin-top:5vw;
}