body{
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	position: relative;
}
.head{
	height:50px;
	background: #D13600;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}
.title{
	line-height: 50px;
	font-size: 16px;
	color: #FFFFFF;
	text-align: center;
}
.return{
	position: absolute;
	height: 40px;
	top: 6px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
}
.returnImg{
	position: relative;
    top: 5px;
    display: inline-block;
    margin-left: 3px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(/resources/images/returnWhite.png);
    background-size: 24px 24px;
}
.addCard{
	position: absolute;
	height: 40px;
	top: 6px;
	width: 40px;
	line-height: 40px;
	font-size: 28px;
	color: #fff;
	right: 0;
	text-align: center;
	
}
.cardList{
	width: 100%;
	position: relative;
	margin-top: 70px;
}
.oneCard{
	width: 90vw;
	height: 100px;
	position: relative;
	margin-left: 5vw;
	background: #4168AF;
	border-radius: 10px;
	margin-top:10px;
}
.cardNum{
	text-align: center;
	color:#fff;
	line-height: 25px;
	font-size:16px;
}
.tdLeft{
	text-align: left;
	position: relative;
}
.cardLogodiv{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 20PX;
	text-align: center;
	background: #eee;
	margin-left: 10px;
	float: left;
}
.tdLeft img{
	width: 35px;
	position: absolute;
	top: 3px;
	left: 3px;
}
.cardName{
	width: 150px;
	height: 50px;
	position: relative;
	float: left;
	color:#fff;
	margin-left: 10px;
}
.cardName1{
	font-size: 16px;
	float: left;
	width: 100%;
	height: 30px;line-height: 30px;
}
.cardName2{
	font-size: 12px;
	float: left;
	width: 100%;
	height: 20px;line-height: 10px;
}
.kjzfdiv{
	width: 100px;
	height: 20px;
	float: right;
	padding: 5px 0;
	background: #fff;
	margin-right:10px;
	text-align: center;
	transform:skewX(-20deg);
}
.kjzfdiv img{
	height: 20px;
}
