body{
	padding: 0;
	margin: 0;
	background: #FAFAFA;
}
.registeruser{
	margin-top:5vw;
	width:90vw;
	padding:0 5vw;
	height: 15vw;
	background: #fff;
	font-size:14px;
	border-bottom: 1px solid #EBECEE;
}
.registeruser div{
	width: 20vw;
	text-align: left;
	margin-left: 2vw;
	float: left;
	line-height: 15vw;
}
.registerCode{
	width: 90vw;
	height: 15vw;
	padding:0 5vw;
	background: #fff;
	font-size:14px;
	border-bottom: 1px solid #EBECEE;
}
.registerCode div{
	width: 20vw;
	text-align: left;
	margin-left: 2vw;
	float: left;
	line-height: 15vw;
}
.registerCode .CodeNum{
	width: 35vw;
	float: left;
	height: 15vw;
	border: 0;
	outline: 0;
	padding: 0;
	margin-left: 2vw;
}
.registerCode .getCode{
	width: 28vw;
	text-align: center;
	float: right;
	line-height: 8vw;
	margin-top:3.5vw;
	height: 8vw;
	border: 0;
	outline: 0;
	padding: 0;
	border:1px solid #D13600;
	background: #fff;
	color:#D13600;
	font-size: 14px;
	border-radius: 3px;
	
}
.registeruser .registerphone{
	width: 60vw;
	float: left;
	height: 15vw;
	border: 0;
	outline: 0;
	padding: 0;
	margin-left: 2vw;
	
}
.psWord{
	width: 90vw;
	padding:0 5vw;
	height: 15vw;
	background: #fff;
	font-size:4vw;
	border-bottom: 1px solid #EBECEE;
}
.psWord div{
	width: 20vw;
	text-align: left;
	margin-left: 2vw;
	float: left;
	line-height: 15vw;
}
.psWord .psWordNum{
	width:60vw;
	float: left;
	height: 15vw;
	border: 0;
	outline: 0;
	padding: 0;
	margin-left: 2vw;
}
.registerBTN{
	width: 90vw;
	height: 35px;
	margin-left: 5vw;
	border:1px solid #D13600;
	outline: 0;
	background: #D13600;
	color:#fff;
	font-size:14px;
	border-radius:3px;
	margin-top:5vw;
}